.header {
    background: #000000;
    height: 130px;
}

.header inner {
    max-width: 1250px;
    margin: 0 auto;
    padding: 25px 20px;
}

.header_logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 80px;
    font-weight: bolder;
}