.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #000000;
    height: 100%;
    table-layout: fixed;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header-name {
    padding: 25px;
    width: 30%;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.confirm-table__text-name {
    width: 950px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    gap: 0;
}

.confirm-table__text-name input {
    width: 250px;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    gap: 0;
}

.confirm-table__header-gender {
    padding: 25px;
    width: 950px;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.confirm-table__text-gender {
    width: 850px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    font: normal;
    text-align: center;
}

.confirm-table__text-gender input {
    width: 250px;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.gender-text {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.confirm-table__header-email {
    padding: 25px;
    width: 85%;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.confirm-table__text-email {
    width: 850px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    font: normal;
    text-align: center;
}

.confirm-table__text-email input {
    width: 350px;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.confirm-table__header-tel {
    padding: 25px;
    width: 950px;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.confirm-table__text-tel {
    width: 850px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    font: normal;
    font-size: 30px;
    text-align: center;
}

.confirm-table__header-address {
    padding: 25px;
    width: 950px;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.confirm-table__text-address {
    width: 850px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    font: normal;
    text-align: center;
}

.confirm-table__text-address input {
    width: 550px;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.confirm-table__header-building {
    padding: 25px;
    width: 950px;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.confirm-table__text-building {
    width: 850px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    font: normal;
    text-align: center;
}

.confirm-table__text-building input {
    width: 550px;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.confirm-table__header-categories {
    padding: 25px;
    width: 950px;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.confirm-table__text-categories {
    width: 850px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    font: normal;
    text-align: center;
}

.confirm-table__text-categories input {
    width: 550px;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.confirm-table__header-detail {
    padding: 25px;
    width: 950px;
    border-bottom: 1px solid #000000;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.confirm-table__text-detail {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font: normal;
    padding: 15px;
    max-width: 100%;
    max-height: 100%;
}

.confirm-table__text-detail input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 30px;
    text-align: center;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__buttons {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 15px;
    width: 175px;
    height: 55px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background: #000000;
    color: #fff;
    cursor: pointer;
}

.form__button-back {
    padding: 15px;
    width: 175px;
    height: 55px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background: #ff0000;
    color: #ffffff;
    cursor: pointer;
}

.form__button-submit:hover {
    background: rgb(117, 117, 117)
}

.form__button-back:hover {
    background: rgb(255, 155, 155)
}