
.form_content {
    max-width: 1220px;
    padding: 35px 15px;
    margin: 0 auto;
}

.form_heading {
    text-align: center;
    margin-bottom: 35px;
}

.form {
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.form__group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.form__label--required {
    color: #ff000f;
    background-color: #ffe0e2;
    padding: 5px 7px;
    margin-left: 7px;
}

.form__error {
    color: #ff0011;
    height: 25px;
    text-align: left;
}

.form__label {
    color: #0000ff;
    background-color: #dbdbff;
    padding: 5px 7px;
    margin-left: 7px;
}

.form__input--text input,
.form__input--textarea textarea {
    width: 550px;
    padding: 15px;
    border :2px solid rgb(19, 19, 19);
    border-radius: 5px;

    appearance: none;
}

.form__input--checkbox-gender {
    display: flex;
    align-items: center;
    height: 25px;
    gap: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 15px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.gender-text {
    margin-right: 10px;
}

.form__group-categories {
    width: 250px;
    height: 50px;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
}

.form__input--text_name input {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(19, 19, 19);

    appearance: none;
}

.form__input--text_tel input{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(19, 19, 19);

    appearance: none;
}

.form__input--text input {
    height: 50px;
}

.form__input--textarea textarea {
    height: 200px;
}

.form__input--text input:hover,
.form__input--textarea textarea:hover,
.form__group-categories:hover,
.form__input--text_name input:hover,
.form__input--text_tel input:hover {
    border-color: rgb(0, 140, 255);
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    color: #ffffff;
    background: #000000;
    width: 175px;
    height: 55px;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.form__button-submit:hover {
    background: rgb(117, 117, 117)
}