.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
}

.navigation__button {
    margin-top: 30px;
    text-align: center;
}

.home-button {
    color: #ffffff;
    background: #000000;
    width: 175px;
    height: 55px;
    border: none;
    border-radius: 5px;
    padding: 15px;
}